<div class="sidebar">

    <h1 class="logo">FoodTime</h1>

    <div class="sidebar-menus">

        <a href="#" data-page="home">
            <ion-icon name="home-outline"></ion-icon>
            <p>Home</p>
        </a>

        <a href="#" data-page="bills">
            <ion-icon name="receipt-outline"></ion-icon>
            <p>Bills</p>
        </a>

        <a href="#" data-page="wallet">
            <ion-icon name="wallet-outline"></ion-icon>
            <p>Wallet</p>
        </a>

        <a href="#" data-page="notification">
            <ion-icon name="notifications-outline"></ion-icon>
            <p>Notification</p>
        </a>

        <a href="#" data-page="contact">
            <ion-icon name="chatbubble-outline"></ion-icon>
            <p>Contact Us</p>
        </a>

        <a href="#" data-page="setting">
            <ion-icon name="settings-outline"></ion-icon>
            <p>Setting</p>
        </a>

    </div>

    <div class="sidebar-logout">

        <a
            href="#"
            data-page="logout"
            id="logout-button"
        >
            <ion-icon name="log-out-outline"></ion-icon>
            <p>Logout</p>
        </a>

    </div>

</div>